[Desktop Entry]
Version=1.0
GenericName=SuperTwister
Name=SuperTwister
Comment=String Maker (v3.6)
Exec=/usr/local/bin/supertwister/superTwister.sh
Terminal=false
Type=Application
NoDisplay=false
Categories=Utility;System;Development;
Icon=/usr/share/pixmaps/python3.11.xpm
Path=/usr/local/bin/supertwister/
